body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
    background-image:url("imgs/squiggles.png");
    background-size: 100%;
    background-repeat:repeat-y;
    background-color:rgba(240, 247, 244, 0.4);
    background-blend-mode: lighten;
}

h1, h2, h3, p, a {
    color: #283f3b;
    font-weight: normal;
    text-decoration: none;
}

#grid_layout {
    position: absolute;
    top: 7em;
    align-self: center;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 80px;
}

#longbox {
    /* TODO: figure out if there's a way to make these boxes not take up
    the whole gridbox they're contained in (/float to top of it) */
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    gap: 30px;
}

#name_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    font-size: calc(0.7rem + 0.5vw);
    text-indent: 10%;
    border-radius: 40px;
    background-color: rgba(240, 247, 244, .95);
    max-height:15em;
    max-width:100%;
    border: 3px solid #283f3b;;
}

/* TODO: remove text indent/
make it so text looks normal if it's not just on one line */

#introbox {
    flex-grow: 1;
}

#linksbox {
    border-radius: 25px;
    transition: 0.3s;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    align-items:center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

#linkinbox {
    font-size: calc(0.8rem + 1.3vh);
    padding: 1vw 1vw 1vw 4vw; 
    color: /* #F0F7F4*/#95BF74;
    text-decoration: none;
    transition: 0.3s;
}

#linkinbox:hover {
    color:#283f3b /*#95BF74; */;
}

#research_preview {
    background-color: rgba(240, 247, 244, .95);
    padding: 30px;
    font-size: calc(0.7rem + 0.5vw);
    border-radius: 40px;
    max-height: 15em;
    transition: 0.3s;
    border: 3px solid #283f3b;;
}


#des_preview {
    background-color: rgba(240, 247, 244, .95);
    padding: 30px;
    font-size: calc(0.7rem + 0.5vw);
    border-radius: 40px;
    max-height: 15em;
    border: 3px solid #283f3b;
} 

#des_preview a {
    transition: 0.3s;
    color: #556F44;
}

#research_preview a {
    transition: 0.3s;
    color: #556F44;
}

#research_preview a:hover {
    color:#95BF74;
}

#des_preview a:hover {
    color:#95BF74;
}

#projectswrapper {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(10px, auto);
    /* aligns box same as intro box */
    max-width: 100%;
    max-height: 100%;
    font-size: calc(0.6rem + 0.5vw);
}

#projectsheader {
    width:100%;
    max-width:100%;
    border-radius: 30px;
    text-align: left;
    background-color: rgba(240, 247, 244, 0); 
    font-size:calc(0.5rem + 0.5vw);
}

#pbox {
    border-radius: 40px;
    text-align: left;
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(149, 191, 116, .95);
    transition: 0.5s;
    justify-self:center;
    border: 3px solid #283f3b;
}

#pbox:hover {
    /* background-color:rgba(149, 191, 116, 0.8); */
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:radial-gradient(rgba(149, 191, 116, 0.8), 
    rgba(149, 191, 116, 1));
}

#pbox img {
    max-height: 10em;
    border-radius: 30px;
    padding: 1em;
    align-self: center;   
}

#pbox a img:hover {
    opacity: 80%;
}

#pboxtext {
    transition: 0.3s;
}

#pboxtext a:hover {
    color: #556F44;
}




