
body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
    background-image:url("imgs/squiggles.png");
    background-size: 100%;
    background-repeat:repeat-y;
    background-color:rgba(240, 247, 244, 0.5);
    background-blend-mode: lighten;
}

h1, h2, h3, p, a {
    color: #283f3b;
    font-weight: normal;
    text-decoration: none;
}


#grid {
    position: absolute;
    top: 9em;
    left: 1em;
    right: 1em;
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 0.3fr 0.6fr 0.5fr 0.9fr 0.9fr;
    grid-template-areas: 
    "mart projects"
    "research p1"
    "des p2"
    "des p3"
    "contact p4"
    ;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    padding-bottom: 3rem;
}

#grid p {
    font-size: calc(0.8vw + 1vh);
}

#intro {
    grid-area: mart;
    border: 3px solid #283f3b;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(240, 247, 244, .95);
}

#linksbox {
    border-radius: 25px;
    transition: 0.3s;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    align-items:center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

#linkinbox {
    font-size: calc(0.8rem + 1.2vh);
    padding: 1vw;
    color: /* #F0F7F4*/#95BF74;
    text-decoration: none;
    transition: 0.3s;
}

#linkinbox:hover {
    color:#283f3b /*#95BF74; */;
}

#research {
    grid-area: research;
    border: 3px solid #283f3b;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(240, 247, 244, .95);
    
}

#research a {
    transition: 0.3s;
    color: #95bf74;
}

#research a:hover {
    color:#283f3b;
}

#design {
    grid-area: des;
    border: 3px solid #283f3b;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(240, 247, 244, .95);
    display: flex;
    flex-flow: column;
}

#deslink_img {
    max-width: 80%;
    max-height: auto;
    align-self:center;
    border-radius:30px;
    transition: 0.3s;
    padding:10px;
}

#deslink_img:hover {
    opacity: 0.8;
}

#deslink {
    font-size: calc(1vw + 1vh);
}

#design a {
    transition: 0.3s;
    color: #95bf74;
}

#design a:hover {
    color:#283f3b;
}

#pheader {
    grid-area: projects;
    justify-self:left;
    text-indent: 20%; /* TODO make this text actually indent/look right*/
    text-decoration: 3px underline #283f3b;
    align-self:center;
    padding-top: 6em;
    font-size: calc(1rem + 1vh);
}

.pbox {
    border: 3px solid #283f3b;
    border-radius: 30px;
    /* display:grid;
    grid-template-columns: repeat(2, 1fr); */
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(149, 191, 116, .95);
    transition: 0.5s;
}

.pbox:hover {
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:radial-gradient(rgba(149, 191, 116, 0.8), 
    rgba(149, 191, 116, 1));
}

#imgbox {
    max-width: 18em;
    max-height: 18em;
    padding-right: 30px;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.contact {
    grid-area: contact;
    border: 3px solid #283f3b;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(240, 247, 244, .95);
    display:flex;
    flex-direction: column;
}

#c_container {
    max-width:100%;
    max-height:fit-content;
    display: flex;
    flex-direction: column;
    /* TODO: finish watching vid */
}

.contact_input {
    width:70%;
    border-radius: 15px;
    padding:10px;
    border: 2px solid #283f3b;
    background-color:#f0f7f4;
    font-family: "Molengo", sans-serif;
    margin-top:8px;
    margin-bottom:8px;
    transition: 0.2s;
}

#c_container button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color:#f0f7f4;
    color: #283f3b;
    border-radius: 25px;
    border: 2px solid #283f3b;
    font-family: "Molengo", sans-serif;
    font-size: calc(0.8vw + 0.8vh);
    cursor: pointer;
    transition: 0.3s;
}

#c_container button:hover {
    background-color:#95BF74;
}

.pbox img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 60px;
}

.pbox a img {
    transition: 0.3s;
}

.pbox a img:hover {
    opacity: 80%;
}

#pboxtext a {
    transition: 0.3s;
}

#pboxtext a:hover {
    color: #556F44;
} 

#pbox1 {
    grid-area: p1;
}

#pbox2 {
    grid-area: p2;
}

#pbox3 {
    grid-area: p3;
}

#pbox4 {
    grid-area: p4;
}


@media only screen and (max-width:50em) {
    #grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 0.5fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
        /* TODO: make sure these boxes always fit content */
        grid-template-areas:
        "mart"
        "research"
        "des"
        "projects"
        "p1"
        "p2"
        "p3"
        "p4"
        "contact"
    }
    #pheader {
        padding-top: 0;
    }
}

@media only screen and (max-width: 60em) {
    .pbox {
        display: flex;
        flex-wrap:wrap-reverse;
    }
    #imgbox {
        padding-right: 0px;
    }
}